<!DOCTYPE html>
<html lang="es">
<head th:fragment="head(title, links)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Hospital Santa Clara" name="descripcion"/>
    <meta content="Santa Clara" name="UAP"/>

    <title th:replace="${title}">Hospital Santa Clara</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link class="main-css" rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/vendor/bootstrap-select/dist/css/bootstrap-select.min.css}" rel="stylesheet">
    <th:block th:replace="${links}"></th:block>

    <!--<link rel="shortcut icon" href="assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}">-->
</head>
</html>