<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head :: head(~{::title}, ~{})}">
    <title>Iniciar sesión - Hospital Santa Clara</title>
</head>

<body class="vh-100">
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a href="index.html"><img src="images/logo-full.png" alt=""></a>
                                </div>
                                <h4 class="text-center mb-4">Iniciar sesión</h4>
                                <form th:action="@{/login}" method="POST">
                                    <div class="form-group">
                                        <label for="idAdministrador">Identificador</label>
                                        <input type="text" id="idAdministrador" class="form-control" value="1"
                                               name="idAdministrador">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="codigoAcceso">Código de acceso</label>
                                        <div class="mb-3 position-relative">
                                            <input type="password" id="codigoAcceso" class="form-control" value="123456"
                                                   name="codigoAcceso">
                                            <span class="show-pass eye">
												<i class="fa fa-eye-slash"></i>
												<i class="fa fa-eye"></i>
											</span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p class="mb-0">No tiene una cuenta? <a class="text-primary"
                                                                              href="page-register.html">Registrarse</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{fragments/style-script :: style-script-footer(~{},~{})}">
</th:block>
</body>
</html>